body {
  font-family: Helvetica;
}

header {
  background-image: url("./pattern.jpeg");
  background-position: center;
}

h1{
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

h2{
  font-size: 32px;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
}

ul li {
 font-weight: bold;
 padding: 5px;
 background: skyblue;
 margin: 5px;
 width: 100px;
 list-style-type: none;
}

#brushes h2 {
  background-color: mediumspringgreen;
}

#frames h2 {
  background-color: lightcoral;
}

#paint h2 {
  background-color: skyblue;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  font-size:120%;
}

.price {
  font-weight: bold;
  color: blue;
}
