header {
  background-image: url("./pattern.jpeg");
  background-position: center;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  font-size:120%;
}

h1{
  font-size: 100px;
  color: khaki;
  text-align: center;
}

h2{
  font-size: 32px;
  color: white;
  padding: 10px 20px;
}

body {
  font-family: Helvetica;
}

.price {
  font-weight: bold;
  color: blue;
}

#brushes h2 {
  background-color: mediumspringgreen;
}

#frames h2 {
  background-color: lightcoral;
}

#paint h2 {
  background-color: skyblue;
}

 ul li {
  font-weight: bold;
  padding: 5px;
  background: skyblue;
  margin: 5px;
  width: 100px;
  list-style-type: none;
}
